form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px; }

.form__column {
  padding: 0px 15px; }

.form-button {
  padding: 10px 30px;
  text-align: center;
  font-size: 14px; }

.input-phone {
  padding: 10px 20px; }

.btn {
  display: inline-block;
  margin: 15px 0;
  padding: 10px 30px;
  font-size: 20px;
  background-color: #f3f3f6; }
  .btn a {
    color: #000;
    text-transform: uppercase; }
  .btn.fw {
    width: 100%; }

.select-block {
  position: relative; }

.select__label {
  z-index: 2;
  position: absolute;
  top: -8px;
  background-color: #f7f7f7;
  padding: 0 5px;
  color: #979797;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  left: 20px; }

.select {
  position: relative;
  cursor: pointer; }
  .select .select-title {
    z-index: 1;
    width: 100%;
    height: 55px;
    border: 1px solid #dedede;
    position: relative;
    background-color: #fff; }
  .select .select-title__arrow {
    position: absolute;
    top: 0;
    right: 0px;
    width: 45px;
    height: 100%;
    background: url("../img/icons/select-arrow.svg") center no-repeat; }
  .select .select-title__value {
    color: #000;
    font-weight: 700;
    font-size: 18px;
    line-height: 53px;
    display: block;
    overflow: hidden;
    padding: 0 45px 0 25px;
    white-space: nowrap;
    text-transform: none;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }
  .select .select-options {
    position: absolute;
    z-index: 10;
    top: 54px;
    display: none;
    overflow: hidden;
    min-width: 100%;
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 10px 20px 10px 25px; }
  .select .select-options-scroll {
    max-height: 80px;
    overflow: auto; }
  .select .select-options-list {
    padding: 0px 0px 0px 0px; }
  .select .select-options__value {
    color: #000;
    font-size: 20px;
    margin: 0px 0px 15px 0px; }
    .select .select-options__value:last-child {
      margin: 0px 0px 0px 0px; }
    .select .select-options__value:hover {
      color: #000; }

input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 10px 20px;
  margin: 0px 0 15px 0; }
  .input:first-child {
    margin: 15px 0px 15px 0px; }

.option {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  line-height: 16px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300; }
  .option:last-child {
    margin-bottom: 0px; }
  .option input {
    display: none; }
  .option:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    content: '';
    border: 1px solid #7f7f7f;
    border-radius: 50%; }
  .option.active:before {
    background: url("../img/icons/option.png") center no-repeat; }

.rating-block {
  display: table;
  font-size: 0; }

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle; }
  .rating.edit .star {
    cursor: pointer; }
  .rating .star {
    width: 17px;
    height: 14px;
    display: inline-block;
    position: relative;
    z-index: 3; }

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%; }

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%; }

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle; }

.quantity {
  position: relative;
  width: 73px;
  height: 47px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff; }

.quantity__input {
  height: 45px;
  width: 50px;
  text-align: center;
  color: #101010;
  font-weight: 300; }

.quantity__btn {
  position: absolute;
  top: 11px;
  right: 15px;
  cursor: pointer; }
  .quantity__btn:before {
    font-size: 25px;
    display: inline-block;
    line-height: 10px;
    color: #a9a9a9; }
  .quantity__btn:hover:before {
    color: #da0005; }
  .quantity__btn.dwn {
    top: 25px; }
