.getCall {
    background: rgba(0, 0, 0, .55);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
/*    display: none;*/
}

.getCallOpen {
    cursor: pointer;
}

.container,
.container .row {
    height: 100%
}
.col-lg-6,
.getCall__content{
    height: 80%;
}
.getCall__img {
    text-align: center; 
    max-width: 347px;
    height: 347px; /*отладка позиционирования*/
    overflow: hidden;
    margin: 0px auto 20px;
    margin-top: 22px;   /*уменьшил отступ*/
    margin-bottom: 10px
    height: 350px;

}

.getCall__img img { /*!DONE адаптировал картинку*/
    height: 100%;
    object-fit: cover;
    object-position: -90px 50%;
}

.getCall__title {
    font-weight: bolder;
    font-size: 20px;
}

.getCall__desc {
    margin-bottom: 10px;
}

.getCall__input {
    height: 47px;
    width: 250px;
    padding: 0 20px 0 20px;
    border: 1px solid #CCCCCC; /*исправил цвет рамки*/
    border-radius: 5px;
    outline: 0;
}

.getCall__button {
    height: 47px; /*убрал outline*/
    width: 150px;
    border: none;
    border-radius: 5px;
}

.getCall__content-close {
    width: 20px;
    position: absolute;
    right: 20px;
    top: 12px; /*подогнал крестик*/
    cursor: pointer;
    float: right;
    text-align: right;
}

.close svg line#Line_18 {
    transform: rotate(45deg);
    width: 100%;
}

.close svg line#Line_19 {
    transform: rotate(-45deg);
    width: 100%;
}

.getCall__content {
    background: #fff;
    height: 530px;
    vertical-align: middle;
    border-radius: 10px;
}
#modal__button{
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;

}

@media(max-width:1203px) {
    .container{
        max-width: 1200px;
    }
    .getCall__img {
        max-width: 300px;
        height: 300px; 
    }
    .getCall__img img {
    height: 80%;
    object-position: left center;
    object-fit: fill;
    }
    .getCall__content{
        width: 470px;
    }
}
@media(max-width:1000px) {
    .getCall__content {
        width: 400px;  /* !DONE сделал резинову высоту для вертикального просотра*/
    }
    .getCall__button {
        margin-top: 10px;
    }
    .getCall__button {
        margin-top: 10px;
    }

    .getCall__img {
        margin-top: 50px;
    }
    
}

@media(max-width:766px) {
    .getCall__content {
        height: 80%;  /* !DONE сделал резинову высоту для вертикального просотра*/
    }

    .getCall__button {
        margin-top: 10px;
    }

    .getCall__img {
        margin-top: 50px;
    }
    .getCall__input{
        height: 40px;
        width: 180px;
        padding-left: 20px;
    }
    .getCall__button{

        height: 40px;
        width: 160px;
    }
}

/*!DONE добавил отступы по бокам для мобильных устройств*/
@media(max-width:578px) {
    .row{
        padding: 0px 20px;
    }
    .getCall__content {
        height: 80%;  /* !DONE сделал резинову высоту для вертикального просотра*/
    }
}